@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@400;500;600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  line-height: 1.6;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  background: #f2f3f5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  color: #0070f3;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
